﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/js")

    <script>
        $(document).ready(function () {
            $('.input-group.date-time').datetimepicker({
                locale: 'pl'
            });



            $('.input-group.date').datetimepicker({
                locale: 'pl',
                format: 'YYYY-MM-DD'
            });
            $('.input-group.date').on("dp.change", function (e) {
                $(this).find('input').val(e.date.format('YYYY-MM-DD')).trigger('change');
            });
        });
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Strona główna", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (User.Identity.IsAuthenticated)
                {
                    <ul class="nav navbar-nav">
                        @if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Pomieszczenia", "RoomList", "Room")</li>
                        }
                        <li>@Html.ActionLink("Rezerwacje", "ReservationList", "Reservation")</li>
                    </ul>
                }
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Rezerwacja pomieszczeń</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
